/*PÁGINA INICIAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    color: #333333;
    line-height: 1.7;
}

header {
    background: #1E4D23;
    text-align: center;
    padding: 25px 20px;
}

header h1 {
    font-size: 48px;
    color: white;
}

header span {
    color: #E56A00;
}

header p {
    margin-top: 5px;
    font-size: 18px;
    color: #DDDDDD;
}

nav {
    background: #143D18;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav a:hover {
    color: #F28C28;
}

nav .ativo {
    color: #F28C28;
    border-bottom: 3px solid #E56A00;
}

main {
    max-width: 900px;
    width: 90%;
    margin: 45px auto;
}

main h2 {
    color: #2F5D36;
    font-size: 22px;
    font-weight: normal;
    border-bottom: 3px solid #2F5D36;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

ul {
    margin-left: 30px;
    margin-bottom: 35px;
}

li {
    font-size: 18px;
    margin-bottom: 12px;
}

.destaque {
    background: #FDF5EF;
    border-left: 7px solid #E56A00;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0;
}

.destaque p {
    margin: 0;
}

.info {
    background: #EAF4EC;
    border-left: 7px solid #2F5D36;
    padding: 20px;
    border-radius: 8px;
    margin-top: 35px;
}

.info p {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 25px 0;
    display: block;
}

a {
    color: #E56A00;
}

a:hover {
    color: #C95800;
}

footer {
    margin-top: 50px;
    background: #143D18;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
}

@media (max-width: 768px) {

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 16px;
    }

    nav {
        gap: 18px;
    }

    nav a {
        font-size: 16px;
    }

    main {
        width: 92%;
    }

    main h2 {
        font-size: 26px;
    }

    main p,
    li {
        font-size: 16px;
    }

    footer {
        font-size: 15px;
    }

}


/*PÁGINA BOX MODEL*/

main table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

main table th {
    background: #1F4D24;
    color: white;
    padding: 18px;
    text-align: left;
    font-size: 22px;
}

main table td {
    border: 1px solid #CFCFCF;
    padding: 18px;
    font-size: 18px;
    line-height: 1.6;
}

main table tr:nth-child(even) {
    background: #F7F7F7;
}

blockquote {
    background: #FDF3EC;
    border-left: 6px solid #E56A00;
    padding: 25px;
    margin: 30px 0;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.8;
    font-style: italic;
}

.margin-box {
    border: 5px solid #E56A00;
    background: #FDF3EC;
    padding: 40px;
    margin: 35px 0;
    text-align: center;
}

.padding-box {
    border: 4px solid #295B2F;
    background: #EDF7F0;
    padding: 45px;
    margin: 30px;
}

.content-box {
    width: 260px;
    margin: auto;
    padding: 25px;
    background: white;
    border: 2px solid #BFBFBF;
    color: #2B3D7A;
    font-size: 22px;
}

.block-box {
    display: block;
    width: 100%;
    padding: 22px;
    margin: 18px 0;
    border: 1px solid #2F5D36;
    background: #EDF7F0;
    font-size: 20px;
}

.inline-box {
    display: inline-block;
    padding: 12px 18px;
    margin-right: 10px;
    border: 1px solid #E56A00;
    background: #FDF3EC;
    font-size: 20px;
}

.dica {
    background: #EDF7F0;
    border-left: 6px solid #295B2F;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.8;
}

section h2 {
    color: #295B2F;
    font-size: 22px;
    margin-bottom: 15px;
    border-bottom: 3px solid #295B2F;
    padding-bottom: 10px;
    font-weight: normal;
}

section h3 {
    color: #295B2F;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: normal;
}

section p {
    font-size: 18px;
    line-height: 2;
    color: #444444;
    margin-bottom: 20px;
}

blockquote {
    background: #FDF3EC;
    border-left: 6px solid #E56A00;
    padding: 30px;
    margin: 30px 0;
    border-radius: 8px;
    font-size: 18px;
    line-height: 2;
    font-style: italic;
}

main table th {
    font-size: 18px;
    padding: 16px;
}

main table td {
    font-size: 18px;
    padding: 16px;
    line-height: 1.8;
}

.block-box,
.inline-box,
.content-box,
.dica {
    font-size: 18px;
    line-height: 1.8;
}

.laranja {
    color: #f57403;
}

.verde {
    color: #2F5D36;
}