/*PÁGINA INICIAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    color: #333333;
    line-height: 1.7;
}

header {
    background: #1E4D23;
    text-align: center;
    padding: 25px 20px;
}

header h1 {
    font-size: 48px;
    color: white;
}

header span {
    color: #E56A00;
}

header p {
    margin-top: 5px;
    font-size: 18px;
    color: #DDDDDD;
}

nav {
    background: #143D18;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav a:hover {
    color: #F28C28;
}

nav .ativo {
    color: #F28C28;
    border-bottom: 3px solid #E56A00;
}

main {
    max-width: 900px;
    width: 90%;
    margin: 45px auto;
}

main h2 {
    color: #295B2F;
    font-size: 22px;
    margin-bottom: 15px;
    border-bottom: 3px solid #295B2F;
    padding-bottom: 10px;
    font-weight: normal;
}

main p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

ul {
    margin-left: 30px;
    margin-bottom: 35px;
}

main h2 + p {
    margin-top: 10px;
}

main h2 ~ div {
    margin-top: 25px;
}

li {
    font-size: 18px;
    margin-bottom: 12px;
}

.destaque {
    background: #FDF5EF;
    border-left: 7px solid #E56A00;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0;
}

.destaque p {
    margin: 0;
}

.info {
    background: #EAF4EC;
    border-left: 7px solid #2F5D36;
    padding: 20px;
    border-radius: 8px;
    margin-top: 35px;
}

.info p {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 25px 0;
    display: block;
}

a {
    color: #E56A00;
}

a:hover {
    color: #C95800;
}

footer {
    margin-top: 50px;
    background: #143D18;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
}

@media (max-width: 768px) {

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 16px;
    }

    nav {
        gap: 18px;
    }

    nav a {
        font-size: 16px;
    }

    main {
        width: 92%;
    }

    main h2 {
        font-size: 26px;
    }

    main p,
    li {
        font-size: 16px;
    }

    footer {
        font-size: 15px;
    }

}

/*PÁGINA MODALIDADES*/

.modalidade {
    margin-bottom: 45px;
}

.modalidade img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.modalidade h2 {
    color: #295B2F;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px;
}

.modalidade h3 {
    color: #295B2F;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: normal;
}

.modalidade p {
    line-height: 1.5;
    font-size: 16px;
}

/*PÁGINA ATLETAS*/

.atletas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 35px;
}

.atleta-card {
    max-width: 900px;
    width: 100%;
    margin: 45px auto;
}

.atleta-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.atleta-info {
    padding: 20px;
}

.atleta-info h3 {
    color: #295B2F;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: normal;
}

.atleta-info p {
    font-size: 17px;
    line-height: 1.8;
}

/*PÁGINA GALERIA*/

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 2px #1E4D23;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: #1f4d22;
    margin: 18px;
    font-size: 24px;
}

.card p {
    margin: 0px 18px 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.links a {
    background: #1f4d22;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 6px;
    transition: 0.3s;
}

.links a:hover {
    background: #e66a00;
}

/*PÁGINA EQUIPE*/

.equipe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin: 35px 0;
}

.membro {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    padding: 25px;
    border-top: 5px solid #2F5D36;
}

.membro h3 {
    color: #2F5D36;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.membro p {
    margin-bottom: 10px;
}

.membro ul {
    margin-left: 20px;
}

.membro li {
    margin-bottom: 8px;
}

/*PÁGINA BOX MODEL*/

main table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

main table th {
    background: #1F4D24;
    color: white;
    padding: 18px;
    text-align: left;
    font-size: 22px;
}

main table td {
    border: 1px solid #CFCFCF;
    padding: 18px;
    font-size: 18px;
    line-height: 1.6;
}

main table tr:nth-child(even) {
    background: #F7F7F7;
}

blockquote {
    background: #FDF3EC;
    border-left: 6px solid #E56A00;
    padding: 25px;
    margin: 30px 0;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.8;
    font-style: italic;
}

.margin-box {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid #ff9430;
}

.padding-box {
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid #1a7723;
}

.content-box {
    width: 100%;
    max-width: 280px;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid rgb(90, 90, 255);
}

.border-box {
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid rgb(199, 219, 20);
}

.inline-box {
    display: inline-block;
    padding: 12px 18px;
    margin-right: 10px;
    border: 1px solid #E56A00;
    background: #FDF3EC;
    font-size: 20px;
}

.dica {
    background: #EDF7F0;
    border-left: 6px solid #295B2F;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.8;
}

section h2 {
    color: #295B2F;
    font-size: 22px;
    margin-bottom: 15px;
    border-bottom: 3px solid #295B2F;
    padding-bottom: 10px;
    font-weight: normal;
}

section h3 {
    color: #295B2F;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: normal;
}

section p {
    font-size: 18px;
    line-height: 2;
    color: #444444;
    margin-bottom: 20px;
}

blockquote {
    background: #FDF3EC;
    border-left: 6px solid #E56A00;
    padding: 30px;
    margin: 30px 0;
    border-radius: 8px;
    font-size: 18px;
    line-height: 2;
    font-style: italic;
}

main table th {
    font-size: 18px;
    padding: 16px;
}

main table td {
    font-size: 18px;
    padding: 16px;
    line-height: 1.8;
}

.block-box,
.inline-box,
.content-box,
.dica {
    font-size: 18px;
    line-height: 1.8;
}

.laranja {
    color: #ff9430;
}

.verde-claro {
    color: rgb(199, 219, 20);
}

.verde-escuro {
    color: #1a7723;
}

.azul {
    color: rgb(90, 90, 255);
}