* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    color: #333333;
    line-height: 1.7;
}

header {
    background: #1E4D23;
    text-align: center;
    padding: 45px 20px;
}

header h1 {
    font-size: 48px;
    color: white;
}

header span {
    color: #E56A00;
}

header p {
    margin-top: 8px;
    font-size: 18px;
    color: #DDDDDD;
}

nav {
    background: #143D18;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav a:hover {
    color: #F28C28;
}

nav .ativo {
    color: #F28C28;
    border-bottom: 3px solid #E56A00;
}

main {
    max-width: 900px;
    width: 90%;
    margin: 45px auto;
}

main h2 {
    color: #2F5D36;
    font-size: 31px;
    border-bottom: 3px solid #2F5D36;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

ul {
    margin-left: 30px;
    margin-bottom: 35px;
}

li {
    font-size: 18px;
    margin-bottom: 12px;
}

.destaque {
    background: #FDF5EF;
    border-left: 7px solid #E56A00;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0;
}

.destaque p {
    margin: 0;
}

.info {
    background: #EAF4EC;
    border-left: 7px solid #2F5D36;
    padding: 20px;
    border-radius: 8px;
    margin-top: 35px;
}

.info p {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 25px 0;
    display: block;
}

a {
    color: #E56A00;
}

a:hover {
    color: #C95800;
}

footer {
    margin-top: 50px;
    background: #143D18;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

@media (max-width: 768px) {

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 16px;
    }

    nav {
        gap: 18px;
    }

    nav a {
        font-size: 16px;
    }

    main {
        width: 92%;
    }

    main h2 {
        font-size: 26px;
    }

    main p,
    li {
        font-size: 16px;
    }

    footer {
        font-size: 15px;
    }

}